<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793274127105-qif81uvtc0e62gjs1iho3c6386ttste5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793274127105-qif81uvtc0e62gjs1iho3c6386ttste5</string>
	<key>API_KEY</key>
	<string>AIzaSyAydNAZqpQ79asfvxaSbekz76Vaoh-jZ30</string>
	<key>GCM_SENDER_ID</key>
	<string>793274127105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>phlokk-app</string>
	<key>STORAGE_BUCKET</key>
	<string>phlokk-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793274127105:ios:741a110398f4f89d9a8100</string>
	<key>DATABASE_URL</key>
	<string>https://phlokk-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>